<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" rel="home" href="/Home" title="Cliente">
                    @*<img style="max-width:100px; margin-top: -7px; height:20px; width:20px;" src="~/Images/logo_top_menu.gif">*@
                </a>
                @*@Html.ActionLink("Application name", "Index", "Home", null, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cadastro<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Controle/Empresa">Empresas</a></li>
                            <li><a href="/Controle/FormaPrevistaPagamento">Formas previstas de pagamentos</a></li>
                            <li><a href="/Controle/FormaPagamento">Formas de pagamentos</a></li>
                            <li><a href="/Controle/GrupoCusto">Grupos de custos</a></li>
                            <li><a href="/Controle/Fornecedor">Fornecedores</a></li>
                            <li><a href="/Controle/TipoCredito">Tipos de créditos</a></li>
                            <li><a href="/Controle/Usuario">Usuários</a></li>
                            <li><a href="/Controle/SistemaParametro">Parâmetros do sistema</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lançamentos<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Controle/Credito">Créditos</a></li>
                            <li><a href="/Controle/Debito">Débitos</a></li>
                            <li><a href="/Controle/Agendamento">Novo agendamento</a></li>
                            <li><a href="/Controle/PesquisaAgendamento">Pesquisar agendamentos</a></li>
                            <li><a href="/Controle/Movimentacao">Movimentação diária</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Relatórios<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Controle/Entradas">Créditos</a></li>
                            <li><a href="/Controle/Saidas">Débitos</a></li>
                            <li><a href="/Controle/Movimentacao">Movimentação diária</a></li>
                            <li><a href="/Controle/Grafico">Gráficos</a></li>
                        </ul>
                    </li>
                </ul>
                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="nav navbar-nav pull-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-user gray" aria-hidden="true"></span>
                                <span class="gray">@User.Identity.Name.ToLower()</span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/Controle/Usuario/TrocarSenha">Trocar senha</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="pull-right top15">
                                <span class="left20"><a href="/Controle/Login/Logout" class="gray">Sair</a></span>
                            </div>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Avanhandava Controle</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>